<!-- start custom footer snippets -->
<div class="page__footer-copyright">Made with <i class="fas fa-heart"></i> and <i class="fas fa-coffee"></i> in Herndon VA USA | <a href="http://nmra.org" class="text-secondary">Member NMRA</a></div>

<div class="page__footer-copyright">
  <a href="https://www.iubenda.com/privacy-policy/7938379" class="iubenda-black iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
  <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</div>
<!-- end custom footer snippets -->
