<footer id="footer">
  <p style="text-align: center">Small things for iOS and macOS</p>
  <p style="text-align: center"><a href="/">Alexandria Software</a> | Made with <span class="fas fa-heart"></span> in Herndon VA USA | <a href="http://nmra.org">Member NMRA</a></p>
  <div style="text-align: center">
    <a href="https://www.iubenda.com/privacy-policy/7938379" class="iubenda-white iubenda-embed " title="Privacy Policy">Privacy Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
  <div style="text-align: center">
    <a href="https://twitter.com/alexandriasw" target="_blank" rel="noopener" title="Alexandria Software" class="fab fa-twitter"></a>
    <a href="https://github.com/rhwood" target="_blank" rel="noopener" title="Randall Wood" class="fab fa-github"></a>
    <a href="http://www.facebook.com/563380909" target="_blank" rel="noopener" title="Alexandria Software" class="fab fa-facebook"></a>
  </div>
  <div style="text-align: center">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
  </div>
</footer>
