<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #408000" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/brand32.png" width="32" height="32" alt="">
      Alexandria Software
    </a>
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-ellipsis-h"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/news" class="nav-link">News</a></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
          <ul class="dropdown-menu">
            <li><a href="/hola" class="dropdown-item">Hola Browser</a></li>
            <li><a href="/roster-decoder" class="dropdown-item">Roster Decoder</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/support" class="nav-link">Request Support</a></li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="https://duckduckgo.com/?kp=-1&kl=us-en">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <input type="hidden" name="sites" value="alexandriasoftware.com">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
